.header{
    background-color: aqua;
    text-align: center;
   background-image: url(download.jpg);
   background-size: cover;
}

.nav{
    background-color: black;
    color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
a{
    color: white;
}
h1{
    font-size: 45px;
    margin: 150px;
    
}

